{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
    <div class="app-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 m-b-30">
                    <div class="d-block d-lg-flex flex-nowrap align-items-center">
                        <div class="page-title mr-4 pr-4 border-right">
                            <h3>Telefon nömrəsi</h3>
                        </div>
                        <div class="breadcrumb-bar align-items-center">
                            <nav>
                                <ol class="breadcrumb p-0 m-b-0">
                                    <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}"><i
                                            class="ti ti-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'dashboard:contacts' %}">Əlaqə
                                        məlumatları</a></li>
                                    <li class="breadcrumb-item active text-primary"
                                        aria-current="page">{{ phone.phone }}</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-statistics">
                        <div class="card-header">
                            <div class="card-heading">
                                <h4 class="text-secondary">Nömrənin dəyişdirilməsi</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label for="{{ form.phone.id_for_label }}"></label>
                                        {{ form.phone }}
                                        <span class="font-14 text-muted">(+999) 99 999-99-99</span>
                                    </div>
                                </div>
                                <button class="btn btn-square btn-success">Yadda saxla</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}