{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
    <div class="app-main">
        <div class="container-fluid">
            <div class="row">
                {% include 'inc/message.html' %}
                <div class="col-md-12 m-b-30">
                    <div class="d-block d-lg-flex flex-nowrap align-items-center">
                        <div class="page-title mr-4 pr-4 border-right">
                            <h3>Yeni kateqoriya</h3>
                        </div>
                        <div class="breadcrumb-bar align-items-center">
                            <nav>
                                <ol class="breadcrumb p-0 m-b-0">
                                    <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}"><i
                                            class="ti ti-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'dashboard:categorylist' %}">Kateqoriyalar</a>
                                    </li>
                                    <li class="breadcrumb-item active text-primary" aria-current="page">yeni
                                        kateqoriya
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-statistics">
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="control-label" for="{{ form.name.id_for_label }}">
                                            Alt kateqoriya adı
                                        </label>
                                        {{ form.name }}
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="control-label" for="{{ form.parent.id_for_label }}">
                                            Kateqoriya adı
                                        </label>
                                        {{ form.parent }}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-square btn-success mt-3">Əlavə et</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}